@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
font-family: "Karla", sans-serif;
margin: 0;
padding: 0;
}

:root{
--LightGreen: hsl(148, 38%, 91%);
    --Green: hsl(169, 82%, 27%);
    --Red : hsl(0, 66%, 56%);
    --White: hsl(0, 0%, 100%);
    --MediumGrey: hsl(186, 15%, 59%);
    --DarkGrey: hsl(187, 24%, 22%);
    }
body{background-color: var(--LightGreen);;}
.box{background-color: white;border-radius: 20px;    padding: 20px;
    width: 445px;  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);}
.box h1 {margin-bottom: 20px;}
.box .name{display: flex;}
input{margin: 20px 20px 20px 0;
    border-radius: 10px;
    height: 31px;
    ;border-color: var(--MediumGrey);border: 1px solid ;
width: 100%;}
label{display: block;
    margin: 0 0 -14px 0;}
.name input{margin-right: 10px;
        width: 218px;}
.queryType .r {display: flex;}
.queryType label{margin: 2px;}
.queryType input{     width: 20px;
    height: 12px;
    margin-right: 8px;
    margin-top: 16px;;}
.queryType p{height: 44px;
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    margin: 10px 10px 10px 0;
}
.mass label{margin: 0 0 10px}
.mass textarea{width: 100%;}
.A{    display: flex;
    align-items: center;}
.A label{display: inline;}
.A input{width: 20px;display: inline;height: 19px;}
.submit input{ background-color: var(--Green);
    color: var(--LightGreen);
    width: 100%;
    height: 39px;}
.arror ,.lerror ,.eerror ,.cherror{color: var(--Red);
    margin-top: -16px;
    font-size: 16px;
    font-weight: 400;
;}
@media(max-width:375px){
    .box{width: 250px}
    .box .name {flex-direction: column;}
    .name input {width: 100%;}
    .queryType .r {flex-direction: column;}
    .queryType p {width: 100%;}

}
